<section class="modal-box" data-role="modal-content">
	<h5 class="modal-box__title">Bienvenida de la rectora</h5>
	<figure class="modal-box__figure">
		<img src="http://unsplash.it/250/250?gravity=center" class="elastic-img" alt="rectora"/>
	</figure>
	<div class="modal-box__excerpt">
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi voluptatum sunt, odio corporis fugiat, praesentium a alias eos adipisci dolor maiores quaerat, sint laudantium? Doloremque sapiente assumenda omnis impedit adipisci?
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi voluptatum sunt, odio corporis fugiat, praesentium a alias eos adipisci dolor maiores quaerat, sint laudantium? Doloremque sapiente assumenda omnis impedit adipisci?</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi voluptatum sunt, odio corporis fugiat, praesentium a alias eos adipisci dolor maiores quaerat, sint laudantium? Doloremque sapiente assumenda omnis impedit adipisci?</p>
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi voluptatum sunt, odio corporis fugiat, praesentium a alias eos adipisci dolor maiores quaerat, sint laudantium? Doloremque sapiente assumenda omnis impedit adipisci?
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi voluptatum sunt, odio corporis fugiat, praesentium a alias eos adipisci dolor maiores quaerat, sint laudantium? Doloremque sapiente assumenda omnis impedit adipisci?</p>
	</div>
	<div class="modal-box__firma">
		<strong>Carolina Bergamasco Valle</strong>
		<p>Rectora colegio</p>
	</div>
</section>