<section class="modal-box" data-role="modal-content">
	<h5 class="modal-box__title">Compartir página por e-mail</h5>
	<div class="modal-box__form_respuesta">
		<figure class="modal-box__figure--respuesta">
			<i class="icon-elem icon-elem--check"></i>
		</figure>
		<h2 class="modal-box__title--respuesta">¡Página compartida exitosamente!</h2>
		<p class="modal-box__excerpt--respuesta">
			Hemos enviado tu mensaje a el (los) destinatario(s) que ingresaste.
		</p>
		<div class="modal-box__extra--respuesta">
			<button class="button button--full-width">Aceptar</button>
		</div>
	</div>
</section>