<section class="modal-box" data-role="modal-content">
	<h5 class="modal-box__title">Himno del colegio</h5>
	<figure class="modal-box__frame">
		<iframe src="https://player.vimeo.com/video/3890238?autoplay=1&byline=0&portrait=0" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
	</figure>
	<div class="modal-box__excerpt modal-box__excerpt--prose">
		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
	</div>
</section>